StubUsingAxis2/src/generated-sources/resources/EmployeeProfileService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EmployeeProfileService" targetNamespace="http://msjavasolutions.com/employeeProfile" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:upSchema="http://msjavasolutions.com/employeeProfile/schema/EmployeeProfile.xsd" xmlns:tns="http://msjavasolutions.com/employeeProfile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://msjavasolutions.com/employeeProfile">
			<xsd:import namespace="http://msjavasolutions.com/employeeProfile/schema/EmployeeProfile.xsd" schemaLocation="EmployeeProfile.xsd"/>
			<xsd:element name="GetEmployeeProfile">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="employeeName" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetEmployeeProfileResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EmployeeProfile" type="upSchema:EmployeeProfile"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetEmployeeProfileRequest">
    <wsdl:part name="params" element="tns:GetEmployeeProfile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetEmployeeProfileResponse">
    <wsdl:part name="result" element="tns:GetEmployeeProfileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeeProfilePortType">
    <wsdl:operation name="GetEmployeeProfile">
      <wsdl:input message="tns:GetEmployeeProfileRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetEmployeeProfileResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeProfileBinding" type="tns:EmployeeProfilePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetEmployeeProfile">
      <soap:operation soapAction="urn:GetEmployeeProfile"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeProfileService">
    <wsdl:port name="EmployeeProfilePort" binding="tns:EmployeeProfileBinding">
      <soap:address location="http://localhost:8080/axis2/services/EmployeeProfileService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
